<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CMDB_DB_DEVConnectionString" connectionString="Data Source=transformationdev.database.windows.net;Initial Catalog=CMDB_DB_DEV;User ID=Transadmin;Password=Trans$@dmin"
      providerName="System.Data.SqlClient" />
    <add name="ARSystem1ConnectionString" connectionString="Data Source=GLAWI1072\SCOMODB;Initial Catalog=ARSystem1;Persist Security Info=True;User ID=agl_transformation;Password=agltrans"
      providerName="System.Data.SqlClient" />
    <add name="ARSystem1ConnectionString2" connectionString="Data Source=10.208.24.6\SCOMODB;Initial Catalog=ARSystem1;User ID=agl_transformation;Password=agltrans"
      providerName="System.Data.SqlClient" />
    <add name="UAFGConnectionString" connectionString="Data Source=10.208.9.37;Initial Catalog=UAFG;User ID=test;Password=test"
      providerName="System.Data.SqlClient" />
    <add name="ARSystem1ConnectionString3" connectionString="Data Source=GLAWI1072.agl.int\SCOMODB;Initial Catalog=ARSystem1;User ID=agl_transformation;Password=agltrans"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString1111" connectionString="Data Source=10.230.48.132;User ID=test;Password=test"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ClientId" value="d6ea7a65-9acb-4cf8-bc47-f83d9f30dbf6" />
    <add key="redirectUri" value="https://magnetodev.azurewebsites.net/Login.aspx" />
    <add key="Tenant" value="123913b9-915d-4d67-aaf9-ce327e8fc59f" />
    <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
   
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
   <customErrors mode="Off"/>
  </system.web>
  <!--<appSettings>

    <add key="webpages:Version" value="3.0.0.0"/>

    <add key="webpages:Enabled" value="false"/>

    <add key="ClientValidationEnabled" value="true"/>

    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="ida:ClientId" value="256c8e42-977f-42b3-b493-bcf45e7e5578"/>

    <add key="ida:AADInstance" value="https://login.microsoftonline.com/"/>

    <add key="ida:ClientSecret" value="JEKocz4mdJehc56pXQlW[SbXr0rs]X:-"/>

    <add key="ida:Domain" value="AGLEnergy.onmicrosoft.com"/>

    <add key="ida:TenantId" value="123913b9-915d-4d67-aaf9-ce327e8fc59f"/>

    <add key="ida:PostLogoutRedirectUri" value="https://magnetodev.azurewebsites.net/WebForm5.aspx"/>

  </appSettings>-->
  
   <!--<appSettings>
    
    </appSettings>-->
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>